In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import os
import datetime as dt

In [23]:
nat_disasters_path = "Natural disasters.csv"
nat_disasters_cost_path = "disaster_cost.csv"
nat_disastersdata = pd.read_csv(nat_disasters_path)
nat_disastercost = pd.read_csv(nat_disasters_cost_path)
# nat_disastersdata
# nat_disastercost

# frames = [nat_disastersdata, nat_disastercost]

# result = pd.concat(frames)
# result

In [24]:
nat_dis_21 = nat_disastercost.drop(nat_disastercost[nat_disastercost.Year < "2000"].index)
nat_dis_21

,Year,incident_type,Death toll,Damage cost (billions USD),Main article,state,Notes
0,2021,Wildfire,2,2300000000,2021 Kansas wildfire outbreak,KS,"On December 15, 2021, a wildfire siege began i..."
1,2021,Tornado,90,3900000000,"Tornado outbreak of December 10–11, 2021",KY,A rare late-season tornado outbreak devastated...
2,2021,Hurricane,115,65250000000,Hurricane Ida,LA,After causing widespread destruction along the...
3,2021,Hurricane,115,65250000000,Hurricane Ida,MS,After causing widespread destruction along the...
4,2021,Hurricane,115,65250000000,Hurricane Ida,AL,After causing widespread destruction along the...
...,...,...,...,...,...,...,...
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
nd_ca = nat_dis_21.loc[(nat_dis_21['state'] == "CA")]
nd_ca

,Year,incident_type,Death toll,Damage cost (billions USD),Main article,state,Notes
9,2020,Wildfire,47,19.884,2020 Western United States wildfire season,CA,One of the most destructive wildfire seasons r...
10,2020,Wildfire,31,12.079,2020 California wildfires,CA,The largest and the third-most destructive wil...
19,2019,Earthquake,1,5.3,2019 Ridgecrest earthquakes,CA,Three earthquakes struck California between Ju...
21,2018,Wildfire,97,26.347,2018 California wildfires,CA,The deadliest and most destructive wildfire se...
22,2018,Wildfire,85,16.5,Camp Fire,CA,The worst fire in California history destroyed...
26,2017,Wildfire,47,18,2017 California wildfires,CA,The second-most destructive wildfire season on...
31,2017,Winter storm and flood,5,1.55,2017 California floods,CA,Caused by a series of storms that led to Calif...
63,2007,Wildfire,14,2.393,October 2007 California wildfires,CA,Large fires burned out of control across south...
64,2006,Wildfires,9,0.2266,2006 California wildfires,CA,NaN
76,2003,Wildfire,15,1.331,Cedar Fire,CA,The largest and most destructive wildfire reco...

In [26]:
yearly_nat_disastercost_ca = nd_ca.groupby('Year')['Damage cost (billions USD)'].sum()
yearly_nat_disastercost_ca

Year
2003           1.331
2006          0.2266
2007           2.393
2017          181.55
2018      26.34716.5
2019             5.3
2020    19.88412.079
Name: Damage cost (billions USD), dtype: object

In [27]:
nd_tx = nat_dis_21.loc[(nat_dis_21['state'] == "TX")]
nd_tx

,Year,incident_type,Death toll,Damage cost (billions USD),Main article,state,Notes
8,2021,Winter storm,237,196.5,"February 13–17, 2021 North American winter storm",TX,While the storm was widespread across the U.S....
11,2020,Hurricane,331,7.9,Hurricane Eta,TX,Long-lived tropical cyclone that made four lan...
12,2020,Hurricane,8,3.6,Hurricane Zeta,TX,[11][16]
13,2020,Hurricane,6,3.086,Hurricane Delta,TX,[11][16]
14,2020,Hurricane,8,7.3,Hurricane Sally,TX,"Sally did not have its name retired, making it..."
15,2020,Hurricane,77,19.1,Hurricane Laura,TX,Tied with the 1856 Last Island hurricane as th...
17,2020,Hurricane,9,1.2,Hurricane Hanna,TX,[11]
18,2019,Tropical storm,7,5,Tropical Storm Imelda,TX,The fifth-wettest tropical cyclone recorded in...
30,2017,Hurricane and Flood,107,125,Hurricane Harvey,TX,Harvey made landfall in Southwestern Texas as ...
41,2015,Flood,46,NaN,2015 Texas–Oklahoma floods,TX,NaN
60,2008,Hurricane,113,38,Hurricane Ike,TX,"At the time, Ike was the costliest natural dis..."
61,2008,Hurricane,53,8.31,Hurricane Gustav,TX,NaN
68,2005,Hurricane,120,10,Hurricane Rita,TX,NaN
71,2004,Hurricane,124,19,Hurricane Ivan,TX,NaN
77,2001,Hurricane,41,5.5,Tropical Storm Allison,TX,NaN

In [28]:
yearly_nat_disastercost_tx = nd_tx.groupby('Year')['Damage cost (billions USD)'].sum()
yearly_nat_disastercost_tx

Year
2001                      5.5
2004                       19
2005                       10
2008                   388.31
2015                        0
2017                      125
2019                        5
2020    7.93.63.0867.319.11.2
2021                    196.5
Name: Damage cost (billions USD), dtype: object

In [ ]:
# result["Year"]= result["Year"].astype(str)

In [ ]:
# nat_disaster_year = result.sort_values(by = ['Year'],ascending = False)
# nat_disaster_year.reset_index()

In [ ]:
nat_dis_21 = nat_disaster_year.drop(nat_disaster_year[nat_disaster_year.Year < "2000"].index)
nat_dis_21

In [ ]:
nd_txca = nat_dis_21.loc[(nat_dis_21['state'] == "CA") | (nat_dis_21['state'] == "TX" )]
nd_txca
nd_txca.to_csv('TX_CA_Disasters.csv')

In [ ]:
tx_ca_disasters = "TX_CA_Disasters.csv"
tx_ca_disasters_df = pd.read_csv(tx_ca_disasters)
tx_ca_disasters_df

In [ ]:
CA_disasters = tx_ca_disasters_df.loc[(tx_ca_disasters_df['state']=="CA")]
CA_disasters

In [ ]:
# mean_value_df = CA_disasters.groupby('Year')['
# mean_value_df.head()

# mean_value_df = nat_disastercost.groupby('Drug Regimen')['Tumor Volume (mm3)'].mean()
#mean_value_df
                                             
# all_nat_dis_21 = nat_disastercost.drop(nat_disastercost[nat_disastercost.Year < "2000"].index)
# nat_dis_21

CA_disasters = nat_dis_21.loc[(tx_ca_disasters_df['state']=="CA")]
CA_disasters